td {
    padding: 5px;
   
  
  }
  
  .contenedor {
    display: flex;
    flex-direction: row;
    background: lightblue;
  }
  
  table {
    width: 90%;
  }
  
  button {
    width: 10%;
    font-size: 1px;
    margin: 60px 80px;
  }
  input{
      width: 100%;
  }